<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css" media="screen">
      .card {
        text-align: center;
        margin: auto;
        width: 500px;
        border: 1px solid #000;
        border-radius: 20px;
        padding: 10px;
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <h1 style="color: green; text-align: center">Forgot Password</h1>
      <p style="text-align: center"><%= name %></p>
      <p style="text-align: center">
        Your OTP is
        <span style="font-size: 25px; font-weight: bold"><%= otp %> </span>
      </p>
      <p style="text-align: center">
        This OTP is only valid for 30 minutes and can only be used Once.
      </p>
      <br />
    </div>
  </body>
</html>
